{% extends 'base.html.twig' %}

{% block title %}Traduction{% endblock %}

{% block body %}
    <h2>Traduction de l'interface</h2>

    <div class="mb-3">
        <a href="{{ path('translation_index', {'_locale': 'fr'}) }}">Français</a> -
        <a href="{{ path('translation_index', {'_locale': 'en'}) }}">English</a>
    </div>

    <p class="lead">{{ welcome | capitalize }}</p>

    <p>{{ 'symfony.is.great' | trans }}</p>

    <p>{{ 'symfony.is.amazing' | trans }}</p>

    <p>{{ 'symfony.has.bundles' | trans }}</p>

    <p>{% trans %} symfony.is.great {% endtrans %}</p>

    <h3>Traduction avec paramètre</h3>

    <p>{% trans with {'%name%': 'Stéphane'} %} hello.name {% endtrans %}</p>

    <p>{{ 'hello.name'|trans({'%name%': 'Souhail'}) }}</p>
{% endblock %}
