{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="mb-3">
        <a href="{{ path('book_add') }}" class="btn btn-outline-dark btn-sm">Ajouter un livre</a>
    </div>
    {% endif %}

    {{ form(bookSearchForm) }}

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Genre</th>
            <th>Date de Parution</th>
            <th>Auteur</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>
                    {{ book.genre.name ?? "-" }}
                </td>
                <td>{{ book.publicationDate | format_date('full', locale="fr") }}</td>
                <td>
                    {{ book.author.name ?? "-" }}
                </td>
                <td class="text-end">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('book_detail', { 'id': book.id }) }}">Voir le livre</a> -
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('book_edit', { 'id': book.id }) }}">Modifier le livre</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
