{% extends 'base.html.twig' %}

{% block title %}Twig{% endblock %}

{% block header %}
    {{ parent() }} {# affiche le contenu du block header de base.html.twig (parent) #}
    <h2>Le moteur de template Twig</h2>
{% endblock %}

{% block stylesheets %}
    <style>
        figure { margin: 0 }
    </style>
    <link rel="stylesheet" href="{{ asset("css/twig.css") }}" />
{% endblock %}

{% block body %}

    <h2>Accéder aux valeurs d'un tableau ou d'un objet</h2>

    <p>L'adresse email de {{ user['firstname']|upper }} {{ user.lastname|upper }} est {{ user.email }}</p>

    {% set array = [1, 2, 3] %}

    <p>array[0] = {{ array[0] }}</p>

    <h3>Information de {{ contact.firstname }} {{ contact.lastname }}</h3>

    <dl>
        <dt>Email:</dt>
        <dd>{{ contact.email }}</dd>
        <dt>Phone:</dt>
        <dd>{{ contact.phone }}</dd>
    </dl>

    <h2>Les assets</h2>

    <figure>
        <img src="{{ asset('images/loxy.jpeg') }}" alt="Chien extraterrestre" width="300" />
        <figcaption>
            <a href="{{ asset('images/loxy.jpeg') }}" target="_blank">Chien extraterrestre</a>
        </figcaption>
    </figure>

    <h2>Include</h2>

    {% set name = "Stéphane" %}

    {{ include('_partial/notification.html.twig') }}

{% endblock %}















