<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                {% block header %}
                    <h1>Formation Symfony</h1>
                {% endblock %}
            </header>
            <nav class="nav">
                <a href="{{ path('home_index') }}" class="nav-link">Accueil</a>
                <a href="{{ path('sandbox_index') }}" class="nav-link">Sandbox</a>
                <a href="{{ path('response_index') }}" class="nav-link">Les réponses</a>
                <a href="{{ path('request_index') }}" class="nav-link">L'objet Request</a>
                <a href="{{ path('twig_index') }}" class="nav-link">Twig</a>
                <a href="{{ path('trailer_index') }}" class="nav-link">Exercice trailer</a>
                <a href="{{ path('book_index') }}" class="nav-link">Liste des livres</a>
                <a href="{{ path('genre_index') }}" class="nav-link">Liste des genres</a>
                <a href="{{ path('translation_index') }}" class="nav-link">Translation</a>
                <a href="{{ path('translation_about') }}" class="nav-link">
                    {{ 'about' | trans(domain='app') }}
                </a>

                <a href="{{ path('service_index') }}" class="nav-link">Les services</a>
                <a href="{{ path('user_index') }}" class="nav-link">Liste des utilisateurs</a>

                {% if not app.user %} {# si l'utilisateur n'est pas connecté #}
                    <a href="{{ path('security_login') }}" class="nav-link">Se connecter</a>
                {% else %}
                    <a href="{{ path('profile_index') }}" class="nav-link">Profil Utilisateur</a>
                    <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                {% endif %}
            </nav>
            {% if app.user %} {# si l'utilisateur est connecté #}
            <div class="text-end">
                Bonjour {{ app.user.name ?? app.user.userIdentifier }} !
            </div>
            {% endif %}
            <main class="py-3">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block main %}
                    {% block body %}{% endblock %}
                {% endblock %}
            </main>
            <footer>
                <hr />
                <p class="text-center">
                    <small>Formation Symfony POE PHP - Août 2023 - Dawan FOAD</small>
                </p>
            </footer>
        </div>
    </body>
</html>
